{% extends "network/layout.html" %}

{% block body %}

    {% for post in page_obj %}
        {% if post.owner is not None %}
            <div class="content">
                <div class="post_by">
                    <strong>Posted by: </strong><a  href="{% url 'profile_page' post.owner.id %}"><strong>{{ post.owner.username }}</strong></a>
                </div>
                <div class="timestamp">
                    <strong></strong>{{ post.created_date }}
                </div>
                <div class="description">
                    {{ post.description }}
                </div>
                <div class="like">
                    <img src="https://play-lh.googleusercontent.com/7hAq25yPmjdVuPeEpC8DQnHGsgo-BuNXhRVlSt0IYOXpKj8puu0PCDFsZHlJWkdN8kU" alt="Like" width="22"> {{ post.like }}<strong>&nbsp; Likes</strong>
                </div>
            </div>
        {% endif %}
        {% empty %}
            <h4>The are no posts available!</h4>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}