{% extends "network/layout.html" %}
{% load static %}
{% load post_tags %}

{% block body %}
    
    {% for post in page_obj %}
        {% if post.owner is not None %}
            <div id="post_{{ post.id }}" class="content">
                <div class="post_by">
                    <strong>Posted by: </strong><a  href="{% url 'profile_page' post.owner.id %}"><strong>{{ post.owner.username }}</strong></a>
                </div>
                <div class="timestamp">
                    <strong></strong>{{ post.created_date }}
                </div>
                <div class="description">
                    {{ post.description }}
                </div>
                <div class="likes" onclick="likeUnlike({{ post.id }})">
                    <img src="https://play-lh.googleusercontent.com/7hAq25yPmjdVuPeEpC8DQnHGsgo-BuNXhRVlSt0IYOXpKj8puu0PCDFsZHlJWkdN8kU" alt="Likes" width="22"> 
                    <span class="likeCount">{{ post.likes.count }}</span>
                    {% if post|is_liked_by:user %}
                        <strong>&nbsp; <span class="likeUnlikeText">Unlike</span></strong>
                    {% else %}
                        <strong>&nbsp; <span class="likeUnlikeText">Like</span></strong>
                    {% endif %}
                    {% if user.is_authenticated and user == post.owner %}
                    <button class="edit_button btn btn-primary btn-sm" onclick="edit({{ post.id }})"><i class="pencil bi bi-pencil"></i>Edit</button>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% empty %}
            <h4>The are no posts available!</h4>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}